$shadow-bottom: 2px;

.person-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,.8);
}

.person-overlay__card {
    display: flex;
}

.person-overlay__picture {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 $shadow-bottom 1px rgba(0,0,0,.5);
}